<h2>Products</h2>

<% @products.each do |category, products| %>
  <h3><%= category.name %></h3>

  <ul>
    <% products.each do |product| %>
    <%= image_tag product.default_image.path, :width => '100px', :style => "float:right" %>

    <li>
      <h4><%= link_to product.name, product_path(product.permalink) %></h4>
      <p><%= product.short_description %></p>
      <p><b>Price:</b> <%= number_to_currency product.price %></p>
    </li>
    <% end %>
  </ul>
<% end %>
